.TextFlashbang{
    font-size: 15em;
    text-align: center;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
@media all and (max-width: 600px) {
    .TextFlashbang{
    font-size: 4em;
    text-align: center;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
}
    .Index4body{
    background-image: url(../bilder/flashbang.png);
    background-size: 50% auto;
    height: 100vh;
}
@media all and (max-width: 600px) {
    .Index4body{
    background-image: url(../bilder/flashbang.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 150%
}