body{
    background-color: black;
}
.GridContainer {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 50px 50px 50px 700px 200px 200px 200px;
    grid-template-areas: 
        "header header header header  header"
        "lside space space space rside"
        "lside menu1 menu1 menu1 rside"
        "lside main1 main2 main3 rside"
        "lside main1 main2 main3 rside"
        "lside main1 main2 main3 rside"
        "lside main1 main2 main3 rside"
        "lside main1 main2 main3 rside";
}
.GridContainer2 {
    display: grid;
    width: 100%;
    grid-template-columns: auto 50% auto;
    grid-template-rows: 11% auto auto;
    grid-template-areas: 
        "lside header rside"
        "lside space rside"
        "lside main1 rside";
}
@media all and (max-width: 1000px) {
.GridContainer {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 50px 50px 50px 50px 200px 200px 200px;
    grid-template-areas: 
        "header header header header  header"
        "lside space space space rside"
        "lside menu1 menu1 menu1 rside"
        "lside menu1 menu1 menu1 rside"
        "lside main1 main2 main3 rside"
        "lside main1 main2 main3 rside"
        "lside main1 main2 main3 rside"
        "lside main1 main2 main3 rside";
}
}
.GridItemA{
    grid-area: header;
    padding-top: 10px;
    background-color:dimgray;
}
.GridItemB{
    grid-area: main1;
    width: 100%;
    text-align: center;
    background-color:dimgray;
}
.GridItemC{
    grid-area: main2;
    background-color:dimgray;
}
.GridItemD{
    grid-area: main3;
    background-color:dimgray;
}
.GridItemE{
    grid-area: main4;
    background-color:dimgray;
}
.GridMenu{
    grid-area: menu1;
    background-color: dimgray;
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: nowrap;
}
@media all and (max-width: 1000px) {
    .GridMenu{
    grid-area: menu1;
    background-color: dimgray;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
}
.CenterGridA {
    text-align: center;
    font-size: 2em;
    font-family: cursive;
}
.CenterGridBCD {
    text-align: center;
    font-size: 1.5em;
}
.GridSpace{
    grid-area: space;
    background-color: dimgray;
}
.Text1{
    font-size: 0.7em;
}
.Text2{
    font-size: 1em;
    color:red;
}
.TextH2{
    font-size: 1.5em;
}
@media all and (max-width: 1000px){
.TextH2{
    font-size: 2em;
}
}
.Text3{
    font-size: 1em;
    color: white;
}
@media all and (max-width: 1000px){
.Text3{
    font-size: 1.5em;
    color: white;
}
}
.CenterText{
    text-align: center;
}
.Flexer{
    display: flex;
    flex-direction: row;
}
.flexItem{
    flex-grow: 1;
}
.LinkSize{
    font-size: 1em;
    text-align: left;
}
.LinkSize2{
    font-size: 1em;
}
@media all and (max-width: 1000px){
.LinkSize{
    font-size: 1.5em;
    text-align: left;
}
}
.VideoAlign{
    padding-top: 1rem;
    width: 19vw;
    height: 10vw;
    border: 0;
}
.PictureAlignB{
    height: auto;
    width: 100%;
    border: 0;
}
.PictureAlign{
    height: auto;
    width: 100%;
    border: 0;
}
@media all and (max-width: 1000px){
.PictureAlign{
    width: 10vw;
    height: 10vw;
    border: 0;
}
}
.Index4Img{
    padding-top: 2rem;
    width: 300px;
    height: 800px;
}

@media all and (max-width: 1000px) {
.Index4Img{
    padding-top: 2rem;
    width: 15vh;
    height: 80vh;
}
}
a{
    color:black;
    text-decoration: none;
    
}
a:hover{
    color: orange;
}